body {
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #328a67,
    #1e6557
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #237a57,
    #1d7563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  font-family: Saira, sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 100px;
  background-color: rgb(186, 33, 33);
  border-radius: 55px;
  border: none;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
}

.hiddenB {
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
